body,
html {
  height: 100vh;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 15px;
}


.parallax-bg {
  background-image: url("../images/04.jpg");
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  padding-top: 35%;
  background-repeat: no-repeat;
}
