body,
html {
  height: 100vh;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 15px;
}
@media screen and (min-width:701px) {
.parallax-bg {
  background-image: url("../images/08.jpg");
  height: auto;
  width: auto;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  padding-top: 25%;
  background-repeat: no-repeat;
}
}

@media screen and (max-width:700px) {
  .parallax-bgsp {
    background-image: url("../images/08sp.jpg");
    height: 30%;
    width: auto;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    padding-top: 25%;
    background-repeat: no-repeat;
  }
}
