body,
html {
  height: 100vh;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 15px;
}

/*固定する背景*/
div {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: top;
  justify-content: center;
  height: 100vh;
  padding: 5%;
}
.parallax-bg {
  background-image: url("../images/2.jpg");
  height: auto;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 20%;
  background-repeat: no-repeat;
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #111;
}
