@media (min-width:769px) {
  .masapc {
    display: block;
    background-image: url("../images/masa.jpg");
    object-fit: fill;
    height: 350px;
    width: 870px;
    background-position: 0px;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
  }
  h1pc {
    font-size:30px;
    font-weight:bold;
    margin-left:400px
  }
  ppc {
    margin-left:400px
  }
}

@media (max-width:768px) {
  .masasp {
    background-image: url("../images/masa.jpg");
    height: 300px;
    background-attachment: scroll;
    background-position: right 50%  bottom 20px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
  }
}
