@media screen and (min-width:701px) {
  .masapc {
    background-image: url("../images/masa.jpg");
    height: 250px;
    background-position: 0;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
  }
  h1pc {
    font-size:30px;
    font-weight:bold;
    margin-left:300px
  }
  ppc {
    margin-left:300px
  }
}

@media screen and (max-width:700px) {
  .masasp {
    background-image: url("../images/masa.jpg");
    height: 200px;
    background-attachment: scroll;
    background-position: right 50%  bottom 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
